.calculator {
    height: 500px;
    width: 250px;
    border-radius: 5px;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.4));
    background-color: #292D36;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 1fr 54px 54px 54px 54px;
}