@font-face {
  font-family: 'Mont';
  src: url('./fonts/Mont-Light.otf');
  font-weight: light;
}

@font-face {
  font-family: 'Mont-Black';
  src: url('./fonts/Mont-Black.otf');
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Mont', sans-serif;
  font-weight: light;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #AFB5B2;
  background: linear-gradient(to bottom right, rgb(44,48,51), rgb(30,34,37));
}

.title-text {
  font-family: 'Mont', sans-serif;
  font-weight: bold;
  transform: rotate(-90deg);
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-right: -2em;
  text-align: center;
}

.inline-main {
  display: inline-block;
}